.photo-main{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.photo-box{
  background:rgba(255,255,255,0.08);
  padding:30px;
  border-radius:12px;
  text-align:center;
}

.photo-box img{
  margin-top:20px;
  border-radius:10px;
  border:3px solid white;
}